<div id="alert-wrapper"></div>
<div class="head-wrapper">
				<div id="header" class="page-width auto-margin">
					<div id="logo">
						<img src="../images/logo.png"  alt="COTEFE LOGO" />
					</div>
					<nav>
						<a href="../htmls/index.html"><span>Home</span></a> |  
						<a href="/html5/"><span>Documents</span></a> |
						<a href="/css/"><span>Contact</span></a> |
						<a href="/css3/"><span>Help</span></a> |
						<a href="#" class="current-link" id="signout"><span>Sign Out</span></a>
					</nav>
					
					
				</div>
				
		</div>
		<div class="top-nav" >
				<div class="top-border" id="userWelcomeText">
					
				</div>
		</div>
		
		
		<div class="page-width auto-margin content-dashboard">
				
			<div id="sidebar" >
				<!--left menu-->
				
			</div>

			<div id="content">
					
			</div>
			
		</div>
		
		<div class="spacer"></div>
		<div>
				
		</div>
		<div class="float-clear" style="margin-bottom:20px;display:block;">
			<p style="text-align:center;">COTEFE Community</p>
		</div>
		
		