				<div class="wrap">
					<!-- picture button -->
					<div id="pic-button">
						<%= imagedata %>
					</div>
					<!-- picture button end -->
					<div id="list-tabs">
						
								<ul class="tabs">
								    <li><a href="#tab1">Project</a></li>
								    <li><a href="#tab2">Experiment</a></li>
								    <li><a href="#tab3">Jobs</a></li>
								    <li><a href="#tab4">Images</a></li>
								</ul>
								
								<div class="tab_container" >
								    <div id="tab1" class="tab_content" >
								        <%= projecttable %>
								    </div>
								    <div id="tab2" class="tab_content">
								        <%= exptable %>
								    </div>
								    <div id="tab3" class="tab_content">
								       Here comes Job List
								    </div>
								    <div id="tab4" class="tab_content">
								       <table class="shadow-dark">
								        	<tr><th>Title</th><th>Experiment</th><th>Date</th><th class="edit-delete-box">Edit</th><th class="edit-delete-box">Delete</th></tr>
    										<tr><td>Image1</td><td>Exp1</td><td>Date</td><td>Edit</td><td>Delete</td></tr>
    										<tr><td>Image2</td><td>Exp2</td><td>Date</td><td>Edit</td><td>Delete</td></tr>
    										<tr><td>Image3</td><td>Exp3</td><td>Date</td><td>Edit</td><td>Delete</td></tr>
    										<tr><td>Image4</td><td>Exp4</td><td>Date</td><td>Edit</td><td>Delete</td></tr>
    										<tr><td>Image5</td><td>Exp5</td><td>Date</td><td>Edit</td><td>Delete</td></tr>
    										<tr><td>Image6</td><td>Exp6</td><td>Date</td><td>Edit</td><td>Delete</td></tr>								    
								        </table>
								    </div>
								</div>
						
					</div>
				</div>
				