<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/cotefe.css">
    {% block script %}{% endblock %}
    <title>COTEFE - {% block title %}{% endblock %}</title>    
</head>
<body>

<div id="container">

    <div id="header">

        <h1>COTEFE</h1>
        <h2>Design experiments in a testbed-independent way. Run your experiments and cross-validate your results across multiple testbeds. All in your Web browser.</h2>
    
    </div>
    
    
    
    <div id="menubar">
    
        {% if user %}
    
        <div id="welcome">
    
            You're connected as <b>{{ user.first }} {{ user.last }}</b> {% if user.admin %}(admin){% endif %}
    
        </div>
        
        {% endif %}
    
        <div id="menu">
        
            Home | 
        
            {% if user %}
    
            <a href="/account">Account</a> | <a href="/identities">My Identities</a> | <a href="/sessions">My Sessions</a> | <a href="/applications">My Apps</a> |
            
            {% endif %}
            
            <a href="/docs">Documentation</a> | Help
            
            {% if user %}
    
            | <a href="/logout">Logout</a>
            
            {% else %}
            
            | <a href="/openid/login">Login</a>
            
            {% endif %}
            
        </div>
        
        </div>
        
        {% if user %}
        
        <div id="cotefe">
    
        
        
        <ul>
            <li><b>Home</b></li>
            <li>Dashboard</li>
            <li><a href="/cotefe/projects">Projects</a></li>
            <li><a href="/cotefe/experiments">Experiments</a></li>
            <li>Jobs</li>
        </ul>
        
        <ul>
            <li><b>Explore</b></li>
            <li><a href="/explore/users">Users</a></li>
            <li><a href="/explore/testbeds">Testbeds</a></li>
            <li><a href="/explore/platforms">Platforms</a></li>
            <li>Sensors</li>
            <li>Actuators</li>
            <li>Interfaces</li>
        </ul>
        
        <ul>
            <li><b>Experiment</b></li>
            <li>Images</li>
            <li>Property Sets</li>
            <li>Virtual Nodes</li>
            <li>Virtual Node Groups</li>
            <li>Virtual Tasks</li>
            <li>--</li>
            <li>--</li>
            
        </ul>
        
        <ul>
            <li><b>Job</b></li>
            <li>--</li>
            <li>--</li>
            <li>Nodes</li>
            <li>Node Groups</li>
            <li>Tasks</li>
            <li>Traces</li>
            <li>Logs</li>
        </ul>
        
    </div>
        
        {% endif %}
    
    
    
    
    
    <div id="content">
    
        <h1>{{ self.title() }}</h1>
    
        {% block content %}{% endblock %}
    
    </div>
    
    
    
    <div id="copyright">
  
        <p>&copy; 2012 CONET - Cooperating Objects Network of Excellence</p>
        
    </div>
    
</div>
        
</body>
</html>