<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/cotefe.css">
    {% block script %}{% endblock %}
    <title>COTEFE - {% block title %}{% endblock %}</title>    
</head>
<body>

<div id="container">

    <div id="header">

        <h1>COTEFE</h1>
        <h2>Design experiments in a testbed-indepent way. Run your experiments and cross-validate your results across multiple testbeds. All in your Web browser.</h2>
    
    </div>
    
    
    
    <div id="menubar">
    
        {% if user %}
    
        <div id="welcome">
    
            You're connected as <b>{{ user.first }} {{ user.last }}</b> {% if user.admin %}(admin){% endif %}
    
        </div>
        
        {% endif %}
    
        <div id="user-menu">
        
            {% if user %}
    
            <a href="/account">Account</a> | <a href="/identities">Connected Identities</a> | <a href="/sessions">Authorized Applications</a> | <a href="/applications">My Apps</a> |
            
            {% endif %}
            
            <a href="/docs">Documentation</a> | <a href="#">Help</a>
            
            {% if user %}
    
            | <a href="/logout">Logout</a>
            
            {% else %}
            
            | <a href="/openid/login">Login</a>
            
            {% endif %}
            
        </div>
        
        {% if user %}
        
        <div id="explore-menu">
    
            {% if user.admin %}<a href="/explore/users">Users</a> | {% endif %}<a href="/explore/testbeds">Testbeds</a> | <a href="/explore/platforms">Platforms</a> | <a href="#">Sensors</a> | <a href="#">Actuators</a>
    
        </div>
    
        <div id="cotefe-menu">
    
            <a href="#">Dashboard</a> | <a href="/cotefe/projects">Projects</a> | <a href="/cotefe/experiments">Experiments</a> | <a href="#">Images</a> | <a href="#">Jobs</a>
    
        </div>
    
    </div>
    
    {% endif %}
    
    <div id="content">
    
        <h1>{{ self.title() }}</h1>
    
        {% block content %}{% endblock %}
    
    </div>
    
    <div id="footer">
  
        <p>&copy; 2012 CONET - Cooperating Objects Network of Excellence</p>
        
    </div>
    
</div>
        
</body>
</html>