{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block content %}

    <h2>COTEFE API Endpoints</h2>
    
    <h3>OpenID (<a href="http://openid.net/">more info</a>)</h3>
    <p>OpenID Login Endpoint: <a href="http://api.cotefe.net/openid/login">http://api.cotefe.net/openid/login</a></p>
    
    <h3>OAuth2 (<a href="http://oauth.net/2/">more info</a>)</h3>
    <p>OAuth2 Authorization Endpoint: <a href="http://api.cotefe.net/oauth2/auth">http://api.cotefe.net/oauth2/auth</a></p>
    <p>OAuth2 Access Token Endpoint: <a href="http://api.cotefe.net/oauth2/token">http://api.cotefe.net/oauth2/token</a></p>

{% endblock %}