<html>

<head>
    <title>{% block title %}Testbed Adaptation API{% endblock %}</title>
</head>

<body>
    <div id="header">{% block header %}<a href="{% url index %}">Home</a> | {% if user.is_authenticated %} Welcome, {{ user.username }} (<a href="{% url auth_logout %}">Logout" %}</a> | <a href="{% url auth_password_change %}"> Change password</a>){% else %}
	<a href="{% url auth_login %}">Login</a>{% endif %}{% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}&copy; CONET 2011{% endblock %}
    </div>
</body>

</html>
