<!DOCTYPE html>
<html>
<head>
<meta/>
<title>CONET Testbed Federation</title>
</head>
<body>
<h1>CONET Testbed Federation</h1>
<form action="/authorize" method="post">
<p>Username: <input type="text" name="username" value=""/></p>
<p>Password: <input type="password" name="password" value=""/></p>
<input type="hidden" name="oauth_client_id" value="{{ oauth_client_id }}" />
<input type="hidden" name="oauth_response_type" value="{{ oauth_response_type }}" />
<input type="hidden" name="oauth_callback_uri" value="{{ oauth_callback_uri }}" />
<submit" name="submit" value="Submit"/>
</form>

<p>or <a class="rpxnow" onclick="return false;"
href="https://conet-testbed-federation.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Fconet-testbed-federation.appspot.com%2Ftoken"> Sign in with OpenID</a></p>

<script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost +
"rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';
</script>

</body>
</html>
